/* .skiptranslate{display: none;} */
.goog-te-gadget img{display: none;}
.goog-te-gadget-simple{background: unset; border: unset; padding: 0;}
.goog-te-banner-frame {
    display: none !important;
}
iframe.goog-te-banner-frame {
    display: none !important;
}

/* Remove extra margin caused by banner */
body {
    position: static !important;
}

/* ===== CLEAN DROPDOWN UI ===== */

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    font-size: 0;
}

.goog-te-combo {
    font-size: 16px;
    padding: 5px;
}
.select-language-name{padding-right: 5px;}